body{
    background-color: khaki;
    overflow-x: hidden;
    margin: 0;
}
#canvas {   /* tablero */
    position: absolute;
    display: block;
    cursor: pointer;
    border: 4px solid gray;
    transform: translateY(-100%);
}
#canvasGame{
    display: block;
    position: relative;
    border: 4px solid gray;
}
.center{
    justify-content: center;
}
.t-center{
    text-align: center;
}
.header{
    background: linear-gradient(181deg, #734222, #db9249);
    width: 100%;
    height: 80px;
    justify-content: space-between;
}
.tittle{
    font-family: 'sans-serif';
    font-size: 70px;
    font-weight: 550;
    color: khaki;
}
.fondo{
    color: red;
    background-color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.fondoBtn{
    font-size: 22px;
}
.top{
    top:150px;
}

/* INPUT DE MUSICA */
.btnSwitch {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 34px; 
}
.btnSwitch input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 78px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #8CE196;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}
.slide.redondo {
    border-radius: 34px;
}
.slide.redondo:before {
    border-radius: 50%;
}